body,
html {
    font-family: "DM Sans", sans-serif; /* https://fonts.google.com/specimen/DM-Sans */
    background: #ffffff;
    color: #901c1c;
    font-weight: 400;
    height: 100%;
}

h1,
h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #d3573c;
}
.titre {
    color: #901c1c;
    font-weight: 400;
}
.main__header {
    margin-right: 0;
    margin-left: 24%;
    line-height: 20px;
    align-items: flex-end;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
#linkMain {
    display: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 45%;
    border-radius: 5px;
    padding: 0.5rem;
    width: 182px;
    height: 30px;
    color: black;
    background-color: #db8876;
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    padding: 0.5rem;
}
.header-tagWrapper {
    order: -1;
    padding-top: 0.5em;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}
input {
    display: flex;
    width: 600px;
    height: 65px;
    margin: 5px 0;
    font-size: 24px;
}

label {
    font-size: 36px;
    margin: 0;
    padding: 0;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
article {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure {
    margin: 1% 4%;
}
figcaption {
    font-size: 21px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
}
figcaption p {
    width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.likeButton {
    margin: 5px;
    cursor: pointer;
    border: none;
    width: 18px;
    height: 18px;
    background: url(heart.svg) center center / 100% 100%;
}
#logo {
    color: #901c1c;
    margin-top: 2%;
    margin-left: 12%;
    margin-bottom: -40px;
    width: 200px;
    height: 50px;
    background: url(logo.svg) center center / 100% 100%;
    font-size: 0;
}
#logo2 {
    font-size: 3rem;
    color: #901c1c;
    margin-left: 5.5%;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    background: url(logo.svg);
    font-size: 0;
}
.photographe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 526px;
    height: 358px;
    margin-top: 20px;
}
.thumb-photographer-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    cursor: pointer;
    object-fit: cover;
}
.thumb-photographer-name {
    font-size: 36px;
}
.thumb-photographer-location {
    font-size: 20px;
    color: #901c1c;
}
.thumb-photographer-tagline {
    color: black;
    font-weight: 400;
    font-size: 15px;
}
.thumb-photographer-price {
    font-size: 13px;
    color: #757575;
    font-weight: 400;
}
.photograph-link {
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: inherit;
}
#photographer-price {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: end;
}
.tagWrapper {
    display: flex;
}
.tagButton {
    border: 1px solid;
    border-radius: 11px;
    background-color: #fafafa;
    margin-right: 8px;
    cursor: pointer;
    color: #901c1c;
    font-weight: bold;
    padding: 0.2em 0.4em;
    border-color: #c4c4c4;
    transition: 0.3s;
    font-size: 12px;
    font-weight: 500;
}
.header-tagWrapper > .tagButton {
    text-transform: capitalize;
}
.tagButton:hover {
    color: white;
    background-color: #901c1c;
    border: 1px solid #c4c4c4;
}
.tagButton:focus {
    border: 1px solid #c4c4c4;
    background-color: #901c1c;
    color: white;
}
.profile-tagButton {
    font-size: 18px;
    font-weight: 500;
}
.contactForm {
    display: flex;
    flex-direction: column;
    padding: 4%;
    padding-top: 2%;
    z-index: 2;
}
#modalForm {
    width: 670px;
    height: 900px;
    background-color: #db8876;
    color: black;
    position: absolute;
    margin: 0 33%;
    z-index: 5;
    border-radius: 11px;
    padding: 1em;
    display: none;
    border: 1px solid;
}
#yourMessageTextbox {
    height: 150px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    max-width: 100%;
    margin-bottom: 10px;
}
#yourMessageTextbox:focus,
#yourMessageTextbox:active,
textarea {
    border: none;
}
textarea {
    font-size: 24px;
    letter-spacing: 1px;
}
#submit-button {
    width: 170px;
    display: inline;
    background: #911c1c;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 23.44px;
    font-weight: 700;
    margin-bottom: 100px;
}
#cover {
    opacity: 0.6;
    background-color: #757575;
    z-index: 1;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
}
.close {
    background: url(closeIconWhite.svg) center center / 100% 100%;
    width: 42px;
    height: 42px;
    border: none;
    position: absolute;
    right: 45px;
    top: 45px;
    z-index: 15;
}
.fa-times {
    position: absolute;
    left: 630px;
    top: 10px;
    font-size: 35px;
    color: white;
}
.fa-times:hover {
    text-shadow: 0px -3px 2px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}
.fa-heart {
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-left: -100px;
}
.photographer-header {
    height: 313px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 5%;
    padding: 2.2em;
}
.photographer-profile {
    height: 100%;
}
.photographer-name {
    font-size: 64px;
    color: #d3573c;
    font-weight: 500;
}
.cta {
    width: 170px;
    height: 70px;
    color: #ffffff;
    background: #901c1c;
    display: inline;
    transition: 0.4s;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
.cta:hover {
    background-color: #db8876;
    color: black;
    border: none;
}
.cta:focus {
    background-color: #db8876;
    color: black;
    border: none;
}

#user {
    width: 526px;
    height: 358px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* classe à attribuer aux éléments photos et videos à afficher sur les pages des photographes */
.thumb-photographie,
.thumb-video {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}
.thumb-photographie:focus,
.thumb-video:focus {
    outline: #000000 2px solid;
}
option {
    color: white;
    background-color: #901c1c;
    padding: 1em;
}
option:hover {
    background-color: #db8876;
    cursor: pointer;
    border-top: 1px solid white;
}
option:focus {
    background-color: #db8876;
    border-top: 1px solid white;
}
select {
    color: white;
    background-color: #901c1c;
    border-top: 1px solid white;
    padding: 1.2em;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 15px;
}
select:focus {
    outline: 2px solid #000000;
}

#selector-wrapper {
    display: inline;
    margin-left: 100px;
}
#selector-label {
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-right: 20px;
}
#total {
    width: 370px;
    height: 80px;
    background-color: #db8876;
    position: fixed;
    bottom: 0;
    left: 75%;
    z-index: 2;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#total-content {
    font-weight: bold;
    color: black;
    padding: 7%;
    display: flex;
    justify-content: space-between;
}

.photographer-location {
    font-size: 24px;
    margin-bottom: 14px;
    color: #901c1c;
}
.photographer-tagline {
    font-size: 18px;
    margin-bottom: 14px;
    color: #525252;
}
#photographer-nameModal {
    font-size: 64px;
    color: black;
    font-weight: 400;
    overflow-wrap: normal;
    width: 90%;
}
/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
#lightbox-content {
    background-color: #ffffff;
    margin: auto;
    padding: 1.5em;
    width: 1250px;
    height: 100%;
    z-index: 12;
    display: flex;
    justify-content: center;
}
.lightbox span {
    font-size: 24px;
    margin-top: 15px;
    place-self: center;
    z-index: 25;
    text-align: center;
}
#lightbox img,
#lightbox video {
    max-width: 1050px;
    max-height: 850px;
    align-self: center;
    padding: 4px;
    border: 2px solid white;
    z-index: 13;
}
.lightbox-prev,
.lightbox-next {
    border: none;
    background-color: #ffffff;
    background: url(arrow.svg) center center / 100% 100%;
    width: 48px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    margin-top: -14px;
}
.lightbox-prev,
.lightbox-next {
    opacity: 1;
}
.lightbox-next {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
}

.lightbox-close {
    background: url(closeIcon.svg) center center / 100% 100%;
    width: 42px;
    height: 42px;
    border: none;
    top: 20px;
    right: 20px;
    z-index: 15;
}
.lightbox button {
    position: fixed;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.5s;
}
.lightbox button:hover {
    cursor: pointer;
    opacity: 1;
}
.active {
    max-height: 750px;
    max-width: 1050px;
    align-self: center;
    object-fit: cover;
    margin-top: -100px;
}
/* The Close Button */
#closeLightbox {
    color: grey;
    position: relative;
    top: auto;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
/*mediaQ */

@media (max-width: 1600px) {
    .photographe-wrapper {
        width: 450px;
    }
    #logo {
        margin-left: 5%;
    }
    .active {
        max-height: 800px;
        align-self: auto;
    }
}
@media (max-width: 1500px) {
    #user {
        width: auto;
    }
    
}
@media (min-width : 1200px){
    #total{
        left : 68%;
        bottom: 1%;
    }
    .active{
        width: 100%;
    }
    .lightbox{
        flex-direction: column;
    }
    #lightbox-content{
        width: auto;
    }
    .lightbox span {
        position: relative;
        bottom: 2%;
    }
}
@media (min-width: 611px) and (max-width: 1200px) {
    .titre {
        font-size: 24px;
        right: 14%;
        top : 4% ;
        position: absolute;
    }
    #logo {
        margin-left: 2%;
        width: 40%;
        left: 0;
    }
    .main__header {
        top: 3%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: baseline;
    }
    #lightbox-content{
        width: 80%;
        height: 60%;
    }
    .lightbox{
        flex-direction: column;
    }
    .lightbox-close {
        width: 30px;
        height: 30px;
    }
    #modalForm {
        width: 70%;
        position: absolute;
        padding: 0;
        top : 0 ;
        bottom: 0 ;
        max-height: 700px;
        z-index: 1000;
        margin: 0;
        left : 15% ;
    }
}
/* Responsive Général */
@media (min-width: 360px) and (max-width: 1200px) {
    body {
        margin: 0;
    }
    main {
        width: auto;
    }
    .main__header {
        margin: 0;
        display: block;
    }
    #logo {
        margin-left: 20px;
        margin-bottom: 0;
    }
    h1 #logo {
        width: 150px;
        height: 30px;
    }
    #logo2 {
        margin-bottom: 30px;
    }
    .header-tagWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .tagWrapper {
        flex-wrap: wrap;
    }
    .photographie {
        width: 335px;
        height: 190px;
    }
    .profile-tagButton {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .tagButton {
        margin: 3px;
    }

    figcaption {
        margin-top: 5px;
        font-size: 14px;
    }
    .likeButton {
        width: 12px;
        height: 12px;
    }

    #user {
        width: auto;
        height: auto;
    }
    .thumb-photographer-picture {
        width: 170px;
        height: 170px;
    }
    #selector-wrapper {
        display: none;
    }
    .contactForm {
        z-index: 10;
    }
    #submit-button {
        margin-bottom: 75px;
        margin-top: 20px;
        width: 170px;
        height: 35px;
        place-self: center;
    }
    .close {
        width: 25px;
        height: 25px;
        right: 25px;
        top: 30px;
    }
    label {
        font-size: 24px;
    }

    /*Lightbox */

    #lightbox-content {
        width: 50%;
        max-height: 100%;
    }
    .lightbox {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .lightbox-next,
    .lightbox-prev {
        width: 20px;
        margin: 0;
    }
    #total{
        display: none;
    }
    .thumb-photographerPic{
        position: relative;
        right: 15%;
        top: 15%;   
    }

    input{
        width: 99%;
        height: 40px;
    }
    #photographer-nameModal{
        font-size: 34px;
    }
}

/* Responsive Mobile */
@media (min-width : 360px ) and (max-width : 610px){
    .thumb-photographie,
    .thumb-video {
        width: 100%;
        height: 190px;
    }
    figure {
        margin: 2% 5%;
        width: 90%;
    }
    input {
        width: 338px;
        height: 50px;
    }
    #contactMe {
        position: fixed;
        align-self: center;
        bottom : 10%;
        z-index: 5;
        width: 170px;
        height: 35px;
        font-size: 18px;
    }
    .thumb-photographerPic {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 9%;
        right: 8%;
    }
    .active {
        width: 290px;
        max-height: 90%;
        align-self : center ;
    }
    .photographer-header {
        background-color: #ffffff;
        padding: 0;
        height: 200px;
    }
    .titre {
        font-size: 15px;
        position: absolute;
        top: 3%;
        right: 4%;
    }
    .photographer-location,
    .photographer-tagline {
        margin: 0;
        padding: 0;
        font-size: 13px;
        max-width: 175px;
    }
    .photographer-name {
        font-size: 30px;
        overflow-wrap: normal;
        max-width: 190px;
    }
    #total {
        align-self: center;
        position: static;
        bottom: 0;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 0;
    }
    .lightbox-close {
        width: 12px;
        height: 12px;
    }
    #modalForm {
        width: 375px;
        position: absolute;
        padding: 0;
        top : 0 ;
        bottom: 0 ;
        max-height: 750px;
        z-index: 1000;
        margin: 0;
    }
    #photographer-nameModal {
        font-size: 36px;
        width: 280px;
    }
    
}