body {
    font-family: "Roboto"; /* https://fonts.google.com/specimen/Roboto */
    background: #ffffff;
    color: #901c1c;
    position: relative;
}
h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #d3573c;
}
.titre {
    color: #901c1c;
}
.main__header{
    text-align: end;width: 80%;
    margin-right: 0;
    margin-left: 15%;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}
input {
    display: flex;
    width: 600px;
    height: 70px;
    margin:5px 0;
}
label {
    font-size: 36px;
    margin: 0;
    padding: 0;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
article {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#logo {
    font-size: 3rem;
    color: #901c1c;
}
.photographe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 380px;
    margin-top: 20px;
}
.location/* ligne 1 */ {
    color: #901c1c;
}
.tagline {
    color: black;
    font-weight: 400;
}
.price {
    color: #757575;
}
.tagWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tagButton {
    border: 1px solid;
    border-radius: 11px;
    background-color: #fafafa;
    margin-right: 8px;
    cursor: pointer;
    color: #901c1c;
    border-color : #C4C4C4 ;
}
.contactForm {
    display: flex;
    flex-direction: column;
    padding: 5%;
}
#contactTitle{
    font-size: 50px;
    color: black;
    font-weight: 500;
}
.modalForm {
    display: none;
    width: 670px;
    height: 900px;
    background-color: #db8876;
    color: black;
    position: relative;
    margin: 0 625px;
    z-index: 5;
    border-radius: 11px;
    padding: 1em;
}
#yourMessage{
    height: 170px;
}
.submit-button {
    width: 170px;
    display: inline;
    background: #911c1c;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 23.44px;
    font-weight: 700;
    margin-bottom: 100px;
}

.fa-times {
    position: absolute;
    left: 630px;
    top: 10px;
    font-size: 35px;
    color: white;
}
.fa-times:hover {
    text-shadow: 0px -3px 2px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}
.photograph-header {
    height: 313px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 5%;
}
.photographersName{
    font-size: 50px;
    color: black;
    font-weight: 500;
}
.cta {
    width: 170px;
    height: 70px;
    color: #ffffff;
    background: #901c1c;
    display: inline;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}
.cta:hover{
    background-color: #DB8876;
    color: black;
    border: none;
}
.cta:focus{
    background-color: #DB8876;
    color: black;
    border: none;
}

#user {
    width: 526px;
    height: 358px;
}

/* classe à attribuer aux éléments photos à afficher sur les pages des photographes */
.artistPicture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow:3px 3px 6px 0 rgba(0,0,0,0.5);
    margin-bottom: 15px;
    cursor: pointer;
}
.photographie {
    height: 350px;
    width: 300px;
    border-radius: 5px;
}

option{
    color: white;
    background-color: #901c1c;
    border-top: 1px solid white;
    padding: 1em;
}